body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px
}

.tile {
    border: 5px;
    border-style: solid;
    border-color: black;
    height: 120px;
    width: 120px;
    background-color:darkgray;
    display: flex;
    font-family: "Copperplate";
    justify-content: center;
    align-items: center;
    font-size: 110px;
    user-select: none;
}

.tile:hover {
    background-color:rgba(169, 169, 169, 0.678);
}

.row {
    display: flex;
}

#turnDisplay {
    font-family: "Copperplate";
    font-size: 50px;
}